.navbar {
  background-color: #EEE8AA;
}
.color-change {
  color: orange;
}
.navbar-brand {
  padding: 12px 0px;
  font-size: 25px;
 font-weight: bold;
 margin-left: 2px;
}

.links {
  width: 50%;
  margin: 0 auto;
}
.links .mr-auto .nav-link {
  padding-right: 80px;
  font-size: 20px;
  color: #000;
}
.logins .nav-link {
  display: inline;
  text-decoration: none;
  color: rgb(19, 4, 4);
}
.fa.fa-edit {
  color: orange;
}
.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: pink;
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.fa.fa-minus-circle {
  color: red;
}
.footer {
  background-color: grey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            

}
.footer p {
  
  padding: 15px 0px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}


